
/* Limit main content width */
main {
  max-width: 840px;
}

/* Make profile image styling exclusive to main */
main img {
  width: 150px;
  height: auto;
}

/* Style aside box */
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

/* Style image inside aside */
aside img {
  width: 200px;
  height: auto;
}

/* Remove padding from all paragraphs */
p {
  padding: 0;
}

/* Style footer */
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
